[Member]
ETCD_DATA_DIR="/var/lib/etcd/default.etcd"
ETCD_LISTEN_PEER_URLS="http://0.0.0.0:2380"
ETCD_LISTEN_CLIENT_URLS="http://0.0.0.0:2379"
ETCD_NAME="{{ansible_hostname}}"

[Clustering]
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ansible_hostname}}:2380"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ansible_hostname}}:2379"
ETCD_INITIAL_CLUSTER="tt-1=http://tt-1:2380,tt-2=http://tt-2:2380,tt-3=http://tt-3:2380"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_ENABLE_V2="true"
